body{
    margin: 0;
}

.openbtn {
    font-size: 20px;
    background-color: rgb(79, 111, 160);
    color: rgb(25, 82, 121);
    padding: 10px 10px;
    border: none;
}



.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .openbtn:hover{
    color: rgb(116, 205, 221);
}

.navbar a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidebar a:hover {
    color: #a19696;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    transition: 0.3x;
}
.main{
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

/* small device */
@media screen and (max-height:450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a{
        font-size: 18px;
    }
    
}